@import url("https://fonts.googleapis.com/css?family=Arimo:400|Raleway:300,400,700&display=swap");

body {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  position: relative;
}



.parent {
  display: flex;
  font-family: arial, sans-serif;
}

.item {
  width: 50%;
  padding: 2em;
  color: #ffffff;
  background: #eeeeee;
  height: 100vh;
}

.last {
  color: #222;
  background: #ccc;
}

@media screen and (max-width: 600px){
  
  .parent {
    flex-direction: column-reverse;  
  }
  
  .item {
    width: auto;
    height: 50vh;
  }
  
  .last {
    background: #aa0000;
  }
  
}






.dave {
  background: url(/images/dave.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position: center ;
}
