@import url("https://fonts.googleapis.com/css?family=Arimo:400|Raleway:300,400,700&display=swap");

body {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  position: relative;
}

.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  background-color: red; }
  @media (min-width: 900px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.container-main {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  background-color: grey; }
  @media (min-width: 900px) {
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.